.footer-icons {
    font-size: 1.5em;
    margin: 0 10px;
}

.footer-icon.youtube i {
    color: #FF0000; /* YouTube Red */
}

.footer-icon.facebook i {
    color: #3b5998; /* Facebook Blue */
}

.footer-icon.twitter i {
    color: #1DA1F2; /* Twitter Blue */
}

.footer-icon.tiktok i {
    color: #000000; /* TikTok Black */
}

.footer-link {
    color: #007bff;
    text-decoration: none;
    margin: 0 10px;
}

.footer-link:hover {
    text-decoration: underline;
}
